.idea
venv
__pycache__
*.log
src/known_users.json
src/geckodriver.exe
src/categorized_news.json
src/news.json
src/test_news.json
src/class_model_log.md
src/class_tfidf_ch.vct
src/class_tfidf_w.vct
src/known_users.json